<div class="shadow p-5 m-5 col-6">
  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.association :user, label_method: :email %>

    <%= f.button :submit, class: "btn btn-sm btn-outline-success" %>
  <% end %>
</div>
