<p style="color: green"><%= notice %></p>

<div class="shadow p-5 my-5">
  <%= render @post %>
</div>

<div class="shadow p-5 my-5">
  <h4>Comments:</h4>
  <%= render 'comments/form', locals: { post: @post } %><hr>
  <%= render @post.comments.order(id: :desc) %>
</div>

<div class="btn-group my-5">
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-sm btn-outline-light" %>
  <%= link_to "Back to posts", posts_path, class: "btn btn-sm btn-outline-light" %>
  <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-sm btn-outline-light" %>
</div>
