<p style="color: green"><%= notice %></p>

<div class="shadow p-5 my-5">
  <%= render @post %>
</div>

<%= @post.likes.count %> <p>Likes</p>
<% like = current_user.likes.find_by(post: @post) %>

<% if like.nil? %>
  <%= button_to 'Like', likes_path, params: { like: { post_id: @post.id }}, method: :post %>
  <form class="" action="/likes" method="post">
    <input type="hidden" name="like[post_id]" value="<%= @post.id %>">
    <input type="submit" name="" value="Like">
  </form>
<% else %>
  <%= button_to 'Unlike', like_path(like), method: :delete %>
  <form class="" action="<%= like_path(like) %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Unlike">
  </form>
<% end %>

<div class="shadow p-5 my-5">
  <h4>Comments:</h4>
  <%= render partial: 'comments/form', locals: { post: @post, parent: nil } %><hr>
  <%= render @post.comments.where(parent_id: nil).includes(:user).order(id: :desc) %>
</div>

<div class="btn-group my-5">
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-sm btn-outline-light" %>
  <%= link_to "Back to posts", posts_path, class: "btn btn-sm btn-outline-light" %>
  <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-sm btn-outline-light" %>
</div>

<script type="text/javascript">
  document.querySelectorAll('.comment-form-display').forEach((el) => {
    el.addEventListener('click', (ev) => {
      ev.preventDefault();
      el.nextElementSibling.style = 'display: block;'
    })
  })
</script>
